<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674016026554-ed415gbu4mepmb295u9eumt9s26dsdmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674016026554-ed415gbu4mepmb295u9eumt9s26dsdmt</string>
	<key>API_KEY</key>
	<string>AIzaSyDSB6IMv5vIRY8P4oj97t42pICM83BVq88</string>
	<key>GCM_SENDER_ID</key>
	<string>674016026554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chul.Daytour</string>
	<key>PROJECT_ID</key>
	<string>daytour-949cd</string>
	<key>STORAGE_BUCKET</key>
	<string>daytour-949cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:674016026554:ios:944683cc5761cbab0bc783</string>
	<key>DATABASE_URL</key>
	<string>https://daytour-949cd-default-rtdb.asia-southeast1.firebasedatabase.app/</string>
</dict>
</plist>
